page-game {
    .displayGameOver{
        //display: none;
        transform:translateY(-800%);
        top: 50%;
        position: absolute;
        text-align: -webkit-center;
        left: inherit;
        //padding-top: 30px;;
        height: 30%;
      }
}
